{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}
<div class="row" style="padding-top: 2%; padding-bottom: 1%;">
  <div class="col">

  </div>
  <div class="col-10">
    <div class="row">
      <div class="col-4">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scanDeviceModal">
          Scan Device
        </button>

        <!-- Modal -->
        <div class="modal fade" id="scanDeviceModal" tabindex="-1" role="dialog" aria-labelledby="scanDeviceLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="scanDeviceModalLabel">Scan Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <form action="/assign_device_w_qr_code" method="post">
                <div class="modal-body">
                  <div class="mb-3">
                    <input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
                    <input type="text" class="form-control" name="scan_data" id="scan_data" placeholder="Scan Data"
                      autocomplete="off" aria-label="Scan Data" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Assign Device
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col">

      </div>
      <div class="col-4">
        <form method="POST">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="project_name" id="project_name" autocomplete="off"
                placeholder="Project Name" aria-label="Project Name" />
            </div>
            <div class="col">
              <button class="btn btn-primary" name="project_name_btn" type="submit">
                Update Project
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="col">
  </div>
</div>

<hr />

<div class="row" style="padding-top: 1%; padding-bottom: 2%;">
  <div class="col">

  </div>
  <div class="col-10">
    <h2 align="center">{{user.first_name}}'s Calibrated Devices</h2>

    <h5 align="center">Table Legend</h5>
    <div class="legend">
      <span class="legend-item">
        <span class="color-box" style="background-color: red;"></span>Calibration Expired
      </span>
      <span class="legend-item">
        <span class="color-box" style="background-color: orange;"></span> Calibration Due Soon
      </span>
      <span class="legend-item">
        <span class="color-box" style="background-color: white;"></span>
        <span class="color-box" style="background-color: lightgrey;"></span> Is Calibrated
      </span>
    </div>
    </br>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="home_calibrated"
        name="home_calibrated">
        <thead>
          <tr>
            <th scope="col" class="text-center">Device Name</th>
            <th scope="col" class="text-center">Model/Part Number</th>
            <th scope="col" class="text-center">Serial Number</th>
            <th scope="col" class="text-center">Calibration Start Date</th>
            <th scope="col" class="text-center">Calibration End Date</th>
            <th scope="col" class="text-center">Project</th>
            <th scope="col" class="text-center">Location</th>
            <th scope="col" class="text-center">Return</th>
          </tr>
        </thead>
        <tbody>
          {% for device in devices %} {% if device.is_calibrated == True %} {% if
          (device.calibration_end - today).days <= 0 %} <tr class="table-danger">
            {% elif (device.calibration_end - today).days <= 30 %} <tr class="table-warning">
              {% else %}
              <tr>
                {% endif %}
                <th scope="row" class="text-center">{{ device.device_name }}</th>
                <td class="text-center">{{ device.model_number }}</td>
                <td class="text-center">{{ device.serial_number }}</td>
                <td class="text-center">{{ device.calibration_start.strftime("%m/%d/%Y") }}</td>
                <td class="text-center">{{ device.calibration_end.strftime("%m/%d/%Y") }}</td>
                <td class="text-center">
                  <table class="table table-sm" cellspacing="0" width="100%" style="margin-bottom: 0rem;">
                    <tbody>
                      <tr>
                        <form action="update_device_project" method="post">
                          <td class="text-center">
                            <input type="hidden" name="device_id" id="device_id" value="{{device.id}}">
                            <input type="text" name="project_{{device.id}}" id="project_{{device.id}}"
                              autocomplete="off" class="form-control" placeholder="{{device.project}}"
                              aria-label="{{device.project}}" />
                          </td>
                          <td class="text-center">
                            <button type="submit" class="btn btn-secondary btn-sm">
                              Update
                            </button>
                          </td>
                        </form>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td class="text-center">
                  <table class="table table-sm" cellspacing="0" width="100%" style="margin-bottom: 0rem;">
                    <tbody>
                      <tr>
                        <form action="update_device_location" method="post">
                          <td class="text-center">
                            <input type="hidden" name="device_id" id="device_id" value="{{device.id}}">
                            <input type="text" name="location_{{device.id}}" id="location_{{device.id}}"
                              autocomplete="off" class="form-control" placeholder="{{device.location}}"
                              aria-label="{{device.location}}" />
                          </td>
                          <td class="text-center">
                            <button type="submit" class="btn btn-secondary btn-sm">
                              Update
                            </button>
                          </td>
                        </form>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td class="text-center">
                  <table cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td class="text-center no-border">
                          <form action="/return_device" method="post">
                            <input type="hidden" name="device_id" id="device_id" value="{{device.id}}">
                            <button type="submit" class="btn btn-secondary btn-sm" id="return_{{ device.id }}">
                              Return
                            </button>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td class="no-border">
                          <span id="timer_{{ device.id }}">0d 0h 0m</span>
                        </td>
                        <script>
                          // Call the updateTimer function for this device
                          updateTimer("{{ device.id }}", "{{ device.checkout_time }}");
                        </script>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              {% endif %} {% endfor %}
        </tbody>
      </table>



    </div>
  </div>
  <div class="col">
  </div>
</div>

<hr />

<div class="row" style="padding-top: 2%; padding-bottom: 8%;">
  <div class="col">

  </div>
  <div class="col-10">
    <h2 align="center">{{user.first_name}}'s Non-Calibrated Devices</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="home_noncalibrated"
        name="home_noncalibrated">
        <thead>
          <tr>
            <th scope="col" class="text-center">Device Name</th>
            <th scope="col" class="text-center">Model/Part Number</th>
            <th scope="col" class="text-center">Serial Number</th>
            <th scope="col" class="text-center">Project</th>
            <th scope="col" class="text-center">Location</th>
            <th scope="col" class="text-center">Return</th>
          </tr>
        </thead>
        <tbody>
          {% for device in devices %} {% if device.is_calibrated == False %}
          <tr>
            <th scope="row" class="text-center">{{ device.device_name }}</th>
            <td class="text-center">{{ device.model_number }}</td>
            <td class="text-center">{{ device.serial_number }}</td>
            <td>
              <table class="table table-sm" cellspacing="0" width="100%" style="margin-bottom: 0rem;">
                <tbody>
                  <tr>
                    <form action="update_device_project" method="post">
                      <td class="text-center">
                        <input type="hidden" name="device_id" id="device_id" value="{{device.id}}">
                        <input type="text" name="project_{{device.id}}" id="project_{{device.id}}" autocomplete="off"
                          class="form-control" placeholder="{{device.project}}" aria-label="{{device.project}}" />
                      </td>
                      <td class="text-center">
                        <button type="submit" class="btn btn-secondary btn-sm">
                          Update
                        </button>
                      </td>
                    </form>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table class="table table-sm" cellspacing="0" width="100%" style="margin-bottom: 0rem;">
                <tbody>
                  <tr>
                    <form action="update_device_location" method="post">
                      <td class="text-center">
                        <input type="hidden" name="device_id" id="device_id" value="{{device.id}}">
                        <input type="text" name="location_{{device.id}}" id="location_{{device.id}}" autocomplete="off"
                          class="form-control" placeholder="{{device.location}}" aria-label="{{device.location}}" />
                      </td>
                      <td class="text-center">
                        <button type="submit" class="btn btn-secondary btn-sm">
                          Update
                        </button>
                      </td>
                    </form>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="text-center">
              <table cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td class="text-center no-border">
                      <form action="/return_device" method="post">
                        <input type="hidden" name="device_id" id="device_id" value="{{device.id}}">
                        <button type="submit" class="btn btn-secondary btn-sm" id="return_{{ device.id }}">
                          Return
                        </button>
                        <form>
                    </td>
                  </tr>
                  <tr>
                    <td class="no-border">
                      <span id="timer_{{ device.id }}">0d 0h 0m</span>
                    </td>
                    <script>
                      // Call the updateTimer function for this device
                      updateTimer("{{ device.id }}", "{{ device.checkout_time }}");
                    </script>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col">

  </div>

</div>
{% endblock %}