{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}
<br />
<h1 align="center">User Calibrated Devices</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Device</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Project</th>
                <th scope="col">Location</th>
                <th scope="col">Calibration Start Date</th>
                <th scope="col">Calibration End Date</th>
                <th scope="col">Return</th>
            </tr>
        </thead>
        <tbody>
            {% for device in user.devices %}
                {% if device.calibrated == True %}
                    {% if (device.calibrationEnd - today).days <= 0 %}
                        <tr class="table-danger">
                    {% elif (device.calibrationEnd - today).days <= 30 %}
                        <tr class="table-warning">
                    {% else %}
                        <tr>
                    {% endif %}               
                            <th scope="row">{{ device.device_name }}</th>
                            <td>{{ device.serial_number }}</td>
                            <td>{{ device.project }}</td>
                            <td>{{ device.location }}</td>
                            <td>{{ device.calibrationStart }}</td>
                            <td>{{ device.calibrationEnd }}</td>
                            <td><button type="button" class="btn" style="background-color: #66cce7;" onClick="returnDevice({{ device.id }})">Return</button></td>
                        </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<br />
<h1 align="center">User Non-Calibrated Devices</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Device</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Project</th>
                <th scope="col">Location</th>
                <th scope="col">Return</th>
            </tr>
        </thead>
        <tbody>
            {% for device in user.devices %}
                {% if device.calibrated == False %}
                        <tr>              
                            <th scope="row">{{ device.device_name }}</th>
                            <td>{{ device.serial_number }}</td>
                            <td>{{ device.project }}</td>
                            <td>{{ device.location }}</td>
                            <td><button type="button" class="btn" style="background-color: #66cce7;" onClick="returnDevice({{ device.id }})">Return</button></td>
                        </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}