{% extends "base.html" %}
<title>{% block title %}Sign Up{% endblock %}</title>

{% block content %}

<div class="row" style="padding-top: 8%; padding-bottom: 8%;">
  <div class="col">

  </div>

  <div class="col-8">
    <h3 class="text-center">Sign Up</h3>
    </br>

    <form method="POST">
      <div class="row">
        <div class="col">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName"
            placeholder="Enter first name (e.g., John)" autocomplete="off" />
        </div>
        <div class="col">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName"
            placeholder="Enter last name (e.g., Doe)" autocomplete="off" />
        </div>
      </div>
      </br>

      <div class="row">
        <div class="col">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address"
            autocomplete="off" />
        </div>
        <div class="col">
          <label class="form-label" for="team">Team</label>
          <select class="form-select" name="team" id="team">
            <option selected>Select Team</option>
            <option value="Automation">Automation</option>
            <option value="Hardware">Hardware</option>
            <option value="Software">Software</option>
            <option value="System Test">System Test</option>
          </select>
        </div>
      </div>
      </br>

      <div class="row">
        <div class="col">
          <label for="password1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
        </div>
        <div class="col">
          <label for="password2" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
        </div>
      </div>
      </br>

      <div class="row" style="padding-top: 15px;">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary"
            style="width: 200px; height: 50px; padding: 10px 20px; font-size: 16px; text-align: center; line-height: 30px;">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col">

  </div>

</div>
{% endblock %}