{% extends "base.html" %}
<title>{% block title %}Sign Up{% endblock %}</title>

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <form method="POST" class="mt-4">
      <h3 class="text-center">Sign Up</h3>

      <div class="mb-3">
        <label for="userName" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          name="userName"
          placeholder="Enter username (e.g., JDoe)"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email address"
        />
      </div>

      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>

      <div class="mb-3">
        <label for="password2" class="form-label">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>

      <div class="row">
        <div class="col-md-6 mb-2">
          <label class="form-label" for="team">Team</label>
          <select class="form-select" name="team" id="team">
            <option selected>Select Team</option>
            <option value="Automation">Automation</option>
            <option value="Hardware">Hardware</option>
            <option value="Software">Software</option>
            <option value="System Test">System Test</option>
          </select>
        </div>
        <div
          class="col-md-6 mb-2 d-flex justify-content-center align-items-center"
        >
          <button type="submit" class="btn btn-custom btn-update">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
