{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>>

{% block content %}
<h1 align="center">All Devices</h1>

<form method="POST">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Device</th>
            <th scope="col">Serial Number</th>
            <th scope="col">Team</th>
            <th scope="col">Project</th>
            <th scope="col">Location</th>
            <th scope="col">Calibration Start Date</th>
            <th scope="col">Calibration End Date</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
            <tr>
                <th scope="row">{{ device.device }}</th>
                <td>{{ device.serialNumber }}</td>
                <td><select class="form-select" name="team" id="team">
                    <option selected>Select Team</option>
                    <option value="Automation">Automation</option>
                    <option value="Firmware">Firmware</option>
                    <option value="Software">Software</option>
                    <option value="System Test">System Test</option>
                </select></td>
                <td><input type="text" name="project" id="project" class="form-control" placeholder="Project" aria-label="Project"></td>
                <td><input type="text" name="location" id="location" class="form-control" placeholder="Location" aria-label="Location"></td>
                <td><input type="date" name="calStart" id="calStart" class="form-control" placeholder="Calibration Start Date" aria-label="Calibration Start Date"></td>
                <td><input type="date" name="calEnd" id="calEnd" class="form-control" placeholder="Calibration End Date" aria-label="Calibration End Date"></td>
                <td style="text-align:right"><input class="form-check-input"  type="checkbox" value= {{device.id}} name="update"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br/>

<div align="center">
    <button type="submit" class="btn btn-primary">Update Device(s)</button>
    </div>
</form>

<br/>

{% endblock %}